body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=1);
  /* IE6-9 */
  font-size: 12px;
  color: #fff;
}

@font-face {
  font-family: 'digital-7';
  src: url('digital-7.ttf');
}

input:focus, textarea, button:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.table {
  border-collapse: collapse;
}

.table>tbody>tr:nth-child(odd) {
  background-color: #222;
}

.table>tbody>tr>th {
  font-weight: 600;
  text-align: left;
}

.table>tbody>tr {
  border-bottom: 1px solid #222;
  background-color: #333;
}

.table>td {
  padding-left: 3px;
}

.flex-container {
  display: flex;
}

.pf {
  margin-top: 0px;
  margin-bottom: 0px;
}

#console>p:hover {
  background-color: #444;
}

#console {
  font-family: "Lucida Console", Monaco, monospace;
  height: 240px;
  width: 100%;
  overflow-y: auto;
  overflow-x: none;
  text-align: left;
  padding: 5px;
  font-size: 12px;
  white-space: normal;
  margin-bottom: 0px;
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.monitor {
  background-image: radial-gradient(rgba(50, 50, 50, 0.75), black 120%);
  text-shadow: 0 0 2px #888;
  position: relative;
  background-repeat: no-repeat;
}

.btn {
  padding: 8px;
  background: #ccc;
  background-color: #222;
  border: 1px solid #ccc;
  color: #fff;
}

.btn:hover {
  background: #eee;
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #222
}

.btn:disabled {
  background-color: #222;
  border: 1px solid #ccc;
  color: #eee
}

/* https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/ */
.InputAddOn {
  display: flex;
}

.InputAddOn-field {
  flex: 1;
  border: 1px solid #ccc;
  background-color: #222;
  color: #fff
}

.InputAddOn-item {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #222;
  color: #fff
}

.button-group {
  display: flex;
}

.button-group-item {
  margin: 5px;
}

.card {
  background-color: #333;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.65);
  resize: both;
  overflow: hidden;
}

.card-header {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
  text-shadow: 0px 0px 3px #ccc;
}

.alert {
  background-color: #cc0000 !important;
}

.success {
  background-color: #008800 !important;
}

.text-alert {
  color: #cc0000 !important;
}

.text-success {
  color: #008800 !important;
}

.text-secondary {
  color: #ccc !important;
}

.dro {
  text-align: right;
  padding-bottom: 0px;
  text-shadow: 0 0 2px #222;
  position: relative;
  background-repeat: no-repeat;
  height: 45px;
  width: 260px;
  margin: 5px;
  border: 1px solid #eee;
  border-radius: 6px;
  padding-right: 6px;
  background: rgba(232, 245, 214, 1);
  background: -moz-linear-gradient(left, rgba(232, 245, 214, 1) 13%, rgba(247, 251, 240, 1) 43%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 83%);
  background: -webkit-gradient(left top, right top, color-stop(13%, rgba(232, 245, 214, 1)), color-stop(43%, rgba(247, 251, 240, 1)), color-stop(60%, rgba(255, 255, 255, 1)), color-stop(83%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(left, rgba(232, 245, 214, 1) 13%, rgba(247, 251, 240, 1) 43%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 83%);
  background: -o-linear-gradient(left, rgba(232, 245, 214, 1) 13%, rgba(247, 251, 240, 1) 43%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 83%);
  background: -ms-linear-gradient(left, rgba(232, 245, 214, 1) 13%, rgba(247, 251, 240, 1) 43%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 83%);
  background: linear-gradient(to right, rgba(232, 245, 214, 1) 13%, rgba(247, 251, 240, 1) 43%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 83%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f5d6', endColorstr='#ffffff', GradientType=1);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.65);
}

.dro-x {
  color: #005500;
}

.dro-y {
  color: #880000;
}

.dro-z {
  color: #000088;
}

.dro-f {
  color: #222;
}

.dro-s {
  color: #222;
}

.dro-wpos {
  font-size: 28px;
  font-family: 'digital-7';
  font-weight: bold;
  text-shadow: 0px 0px 3px #222;
}

.dro-mpos {
  font-size: 16px;
  font-family: 'digital-7';
  font-weight: bold;
  text-shadow: 0px 0px 3px #222;
}

.axis {
  padding-left: 6px;
  display: block;
  float: left;
  font-size: 28px;
  color: #222;
}

.axis-x {
  color: #005500;
}

.axis-y {
  color: #880000;
}

.axis-z {
  color: #000088;
}

.axis-f {
  color: #222;
}

.axis-s {
  color: #222;
}

.jogbtn {
  font-size: 11px;
  border-radius: 5px;
  width: 56px;
  height: 56px;
  border: 1px solid #eee;
  color: #eee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(1, #131313));
  background: -ms-linear-gradient(bottom, #1d1d1d, #131313);
  background: -moz-linear-gradient(center bottom, #1d1d1d 0%, #131313 100%);
  background: -o-linear-gradient(#131313, #1d1d1d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#1d1d1d', GradientType=0);
  box-shadow: 2px 3px #111;
}

.led {
  position: relative;
}

.led:before {
  position: absolute;
  content: '';
  right: 1px;
  top: 1px;
  width: 8px;
  height: 8px;
  background: #646464;
  background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
  border-radius: 50%;
  box-shadow: 0 0 4px #1C1C17;
  transition: all .3s ease;
}

.led:hover:before {
  /* background: #330000; */
  box-shadow: 0 0 4px #1C1C17,
    0 0 5px #42FF42;
}

/* .led:active:before {
  box-shadow: 0 0 4px #1C1C17,
    inset 0 2px 2px 0px #CC0000;
} */
.ledactive:before {
  position: absolute;
  content: '';
  right: 1px;
  top: 1px;
  width: 8px;
  height: 8px;
  background: #00CC00;
  background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
  border-radius: 50%;
  box-shadow: 0 0 4px #1C1C17;
  transition: all .3s ease;
  box-shadow: 0 0 4px #1C1C17,
    inset 0 2px 2px 0px #00CC00;
}

#jograte, #jogdist {
  padding-right: 4px;
  text-align: right;
  width: 176px;
  height: 36px;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #eee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(1, #131313));
  background: -ms-linear-gradient(bottom, #1d1d1d, #131313);
  background: -moz-linear-gradient(center bottom, #1d1d1d 0%, #131313 100%);
  background: -o-linear-gradient(#131313, #1d1d1d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#1d1d1d', GradientType=0);
  box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

#jogratez, #jogdistz {
  padding-right: 4px;
  text-align: right;
  width: 55px;
  height: 36px;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #eee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(1, #131313));
  background: -ms-linear-gradient(bottom, #1d1d1d, #131313);
  background: -moz-linear-gradient(center bottom, #1d1d1d 0%, #131313 100%);
  background: -o-linear-gradient(#131313, #1d1d1d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#1d1d1d', GradientType=0);
  box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
  -moz-appearance: none;
  -webkit-appearance: none;
}

#jogratez option, #jogdistz option, #jograte option, #jogdist option {
  background-color: #333;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #474747 radial-gradient(circle, transparent 1%, #474747 1%) center/15000%;
}

.ripple:active {
  background-color: #6e6e6e;
  background-size: 100%;
  transition: background 0s;
}