.pf {
    margin-top: 0px;
    margin-bottom: -4px;
}

#console > p:hover {
  background-color: #eee;
}

#console {
    /*font-family: "Courier New", Courier, monospace;*/
    font-family: "Lucida Console", Monaco, monospace;
    height: 240px;
    width: 100%;
    overflow-y: auto;
    overflow-x: none;
    text-align: left;
    /* background-color: #fff; */
    /* box-shadow: 0 0 2px 2px #ddd; */
    padding: 0px;
    font-size: 12px;
    /* padding-left: 20px; */
    white-space:normal;
    margin-bottom: 0px;
    -webkit-touch-callout:  text; /* iOS Safari */
       -webkit-user-select: text; /* Safari */
        -khtml-user-select: text; /* Konqueror HTML */
          -moz-user-select: text; /* Firefox */
           -ms-user-select: text; /* Internet Explorer/Edge */
               user-select: text; /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}
